<h1><%= link_to job.title, job_path(job.id) %></h1>
<p><%= job.category.name %></p>
<p><%= job.company.name %></p>
<p><%= job.location %></p>
<% if  job.featured? %>
<strong>Destaque</strong>
<% end %>
